
:root {
  --primary-color: #3b0017;
  --secondary-color: #ff8f92;
  --text-color: #333;
  --bg-color: #000;
  --light-grey: #f5f5f5;
  --accent-color: #9b59b6;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --text-white:#ffffff
}

@font-face {
  font-family: "Lufga";
  src: url("../src/assets/fonts/LufgaRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../src/assets/fonts/LufgaSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../src/assets/fonts/LufgaExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../src/assets/fonts/LufgaBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lufga', sans-serif;
  background-color: var(--primary-color);
}

html {
  font-size: 16px; /* default */
}

/* For smaller screens */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

/* For very small mobile devices */
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}





